<mat-toolbar>
  <span routerLink="home">Vendas App</span>
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>density_small</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side">
    <button routerLink="home" (click)="drawer.toggle()">
      <mat-icon class="mat-18">home</mat-icon>
      <span>Home</span>
    </button>
    <button routerLink="cliente" (click)="drawer.toggle()">
      <mat-icon class="mat-18">person</mat-icon>
      <span>Cliente</span>
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


