mat-toolbar {
  font-size: larger;

  display: flex;
  justify-content: space-between;
}

.container {
  position: absolute;
  left: 0;

  width: 6vw;
  height: 100vh;
  background-color: white;
}

.sidenav {
  height: 100vh;
  width: 100%;

  button {
    width: 5vw;
    height: 10vh;

    margin-left: 0.5vw;
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1vw;
  }
}
