mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;

  .router-buttons {
    width: 50%;
    margin-left: 2vw;
    font-size: 1.5rem;

    button {
      font-size: 0.8rem;
      width: 150px;
    }
  }

  a {
    color: white;

    :hover {
      color: red;
    }
  }
}

.active-route {
  background-color: rgb(30, 30, 156);
}

.isMobile {
  mat-toolbar {
    .router-buttons {
      font-size: 2rem;
      margin: 0;

      button {
        width: 10%;
        mat-icon {
          font-size: 2rem;
          height: 100%;
        }
      }

      .menu {
        overflow: visible;
        z-index: 10;
        position: relative;
      }
    }
  }

}



