.box {
  margin-top: 2vh;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  div {
    height: 100%;
    width: 80%;


    table {
      background-color: transparent;
      -webkit-text-fill-color: white;
    }
  }
}
