<div class="container">
  <form>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input type="tel" matInput placeholder="Usuário">
      <mat-icon matSuffix>user</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="tel" matInput placeholder="mail@email.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input type="tel" matInput placeholder="4799999999">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button>Cancelar</button>
      <button mat-raised-button color="primary">Salvar</button>
    </div>
  </form>
</div>
