:host > .container {
    border-radius: 1rem;
    position: relative;
    left: 25vw;
    text-transform: uppercase;
    text-size-adjust: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50vw;
    height: 70vh;
}

